<!doctype html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>{{old_image}}</title>
</head>
<body>
{%block img%}
    <br>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Готово</h4>
  <p>Ваша картинка: {{old_image}}</p>
    <p>Цвет креста: {{colour}}</p>
  <hr>
<a href="/" class="btn active btn-dark btn-lg" role="button" aria-pressed="true">Вернуться на главную</a>
</div>

<br>
<div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm text-black bg-info">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Old image</h4>
          </div>
          <div class="card-body">
            <img class="card-img-top" src="../images/{{old_image}}" alt="Old Picture">
              <hr>
            <img class="card-img-top" src="{{ old_plot}}" alt="График распределения цветов">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm text-black bg-info">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">New image</h4>
          </div>
          <div class="card-body">
            <img class="card-img-top" src="../images/{{new_image}}" alt="Card image cap">
              <hr>
              <img class="card-img-top" src="{{ new_plot}}" alt="Card image cap">
          </div>
        </div>
      </div>
    </div>
{%endblock%}
</body>