<!doctype html>
<head>
    <title>3-я лаба</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <div>
        <h3 align="center">Лабораторная работа №3</h3>
        <p>     Веб-приложение должно рисовать крест, центр и размер которого задается пользователем.</p>
    </div>
    <h4>Выберите картинку:</h4>
    <form action="" method=post enctype=multipart/form-data>
        {{ form.csrf_token }}
        <div class="mb-3">
            <p><input class="form-control" type=file  name=file id="file"></p>
            <h4>Выберите цвет креста:</h4>
            <input type="range" min="0" max="255" name="r" />
            <input type="range" min="0" max="255" name="g" />
            <input type="range" min="0" max="255" name="b" />
            <h4>Выберите координаты точки центра креста X и Y соответственно:</h4>
            <input name = "H" type="text">
            <input name = "W" type="text">
            <h4>Выберите ширину креста:</h4>
            <input name = "size" type="text">
            <hr>
            {{form.recaptcha()}}
            <br>
            <input id="upload" class="form-control" type=submit value="Загрузить">
        </div>
    </form>
    </div>
</body>